<header>
  <style>
    #intro-example {
      height: 400px;
    }
    @media (min-width: 992px) {
      #intro-example {
        height: 600px;
      }
    }
  </style>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-body">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" (click)="backgroundImageExample2.toggle()" aria-controls="backgroundImageExample2" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div mdbCollapse #backgroundImageExample2="mdbCollapse" class="collapse navbar-collapse" id="backgroundImageExample2">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.evalueserve.com/speak-to-expert/">Help</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->

  <!-- Background image -->
  <div id="intro-example" class="p-5 text-center bg-image" style="background-image: url('evs5.jpg')">
    <div class="mask" style="padding: 50px 20px">
      <div class="d-flex flex-column justify-content-center align-items-center h-100">
        <div class="text-white text-center">
          <h1 class="mb-4 display-4 fw-bold animate-text">Evalueserve</h1>
          <h5 class="mb-4 animate-text">
            At Evalueserve, we empower businesses with advanced, tech-driven insights that enhance strategic decisions and fuel impactful results.
          </h5>

          <!-- Login Form -->
          <div class="login-form-container mt-4">
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="text-center">
              <div class="form-group">
                <label for="email">Email:</label>
                <input id="email" type="email" formControlName="email" class="form-control" required />
              </div>
              <div class="form-group mt-2">
                <label for="password">Password:</label>
                <input id="password" type="password" formControlName="password" class="form-control" required />
              </div>
              <button type="submit" class="btn btn-light btn-lg m-2 rounded-pill px-4 shadow-lg animate-btn">Login</button>
            </form>
          </div>

          <a class="btn btn-light btn-lg m-2 rounded-pill px-4 shadow-lg animate-btn" href="https://www.evalueserve.com/about/" target="_blank" role="button">
            About Us
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>