<div class="container">
    <h2>Edit Course</h2>
    <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="course_name" class="form-label">Course Name</label>
            <input type="text" id="course_name" class="form-control" formControlName="course_name" />
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea id="description" class="form-control" formControlName="description"></textarea>
        </div>

        <div class="mb-3">
            <label for="author" class="form-label">Author</label>
            <input type="text" id="author" class="form-control" formControlName="author" />
        </div>

        <div class="mb-3 form-check">
            <input type="checkbox" id="status" class="form-check-input" formControlName="status" />
            <label for="status" class="form-check-label">Published</label>
        </div>

        <div class="mb-3">
            <label for="imagepath" class="form-label">Course Image</label>
            <input type="file" id="imagepath" class="form-control" (change)="onImageSelected($event)" />
            <div *ngIf="imagePreview" class="mt-2">
                <img [src]="imagePreview" alt="Course Image" class="img-thumbnail" style="max-width: 200px;" />
            </div>
        </div>
        <div class="mb-3">
            <label for="category_id" class="form-label">Category ID</label>
            <input type="text" id="category_id" class="form-control" formControlName="category_id" />
        </div>

        <div class="mb-3">
            <label for="quize_path" class="form-label">Quiz Path</label>
            <input type="text" id="quize_path" class="form-control" formControlName="quize_path" />
        </div>


        <button type="submit" class="btn btn-primary" [disabled]="courseForm.invalid">Update Course</button>
    </form>
</div>