<nav class="sidebar" [class.closed]="collapsed">
  <div class="sidebar-header text-center">
    <img src="evslogo.png" alt="Logo" class="sidebar-logo" />
    <div class="sidebar-title">Learning Portal</div>
  </div>

  <ul class="nav flex-column mt-3">
    <!-- Reports Section -->
    <li class="nav-item" *ngIf="shouldShowMenuItem('reports')">
      <a 
        class="nav-link" 
        [class.selected]="reportsOpen"
        (click)="toggleReports()">
        <i class="bi bi-grid"></i>
        <span>Reports</span>
        <i
          class="bi ms-auto"
          [ngClass]="{
            'bi-chevron-down': reportsOpen,
            'bi-chevron-right': !reportsOpen
          }"
        ></i>
      </a>
      <ul class="nav flex-column child-nav" [class.show]="reportsOpen">
        <li class="nav-item">
          <a routerLink="reports/generate" class="nav-link ps-4">Generate Report</a>
        </li>
      </ul>
    </li>

    <!-- Line of Business Section -->
    <li class="nav-item" *ngIf="shouldShowMenuItem('business')">
      <a
        class="nav-link"
        [class.selected]="businessOpen"
        (click)="toggleBusiness()"
      >
        <i class="bi bi-mortarboard"></i>
        <span>Line of Business</span>
        <i
          class="bi ms-auto"
          [ngClass]="{
            'bi-chevron-down': businessOpen,
            'bi-chevron-right': !businessOpen
          }"
        ></i>
      </a>
      <ul class="nav flex-column child-nav" [class.show]="businessOpen">
        <li class="nav-item">
          <a routerLink="lob/add" class="nav-link ps-4">Add LoB</a>
        </li>
        <li class="nav-item">
          <a routerLink="lob/view" class="nav-link ps-4">View LoB</a>
        </li>
      </ul>
    </li>

    <!-- SME Section -->
    <li class="nav-item" *ngIf="shouldShowMenuItem('sme')">
      <a class="nav-link" 
      [class.selected]="smeOpen"
      (click)="toggleSME()">
        <i class="bi bi-mortarboard"></i>
        <span>SME</span>
        <i
          class="bi ms-auto"
          [ngClass]="{
            'bi-chevron-down': smeOpen,
            'bi-chevron-right': !smeOpen
          }"
        ></i>
      </a>
      <ul class="nav flex-column child-nav" [class.show]="smeOpen">
        <li class="nav-item">
          <a routerLink="sme/add" class="nav-link ps-4">Add Sme</a>
        </li>
        <li class="nav-item">
          <a routerLink="sme/view" class="nav-link ps-4">View Sme</a>
        </li>
      </ul>
    </li>

    <!-- Courses Section -->
    <li class="nav-item" *ngIf="shouldShowMenuItem('courses')">
      <a  class="nav-link"
       [class.selected]="courseOpen"
       (click)="toggleCourse()">
        <i class="bi bi-journal-bookmark"></i>
        <span>Courses</span>
         <i
          class="bi ms-auto"
          [ngClass]="{
            'bi-chevron-down': courseOpen,
            'bi-chevron-right': !courseOpen
          }"
        ></i>
      </a>
      <ul class="nav flex-column child-nav" [class.show]="courseOpen">
        <li class="nav-item">
          <a routerLink="course/addCategory" class="nav-link ps-4"
            >Add Category</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="course/viewCategory" class="nav-link ps-4"
            >View Category</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="course/addcourse" class="nav-link ps-4">Add Course</a>
        </li>
        <li class="nav-item">
          <a routerLink="course/viewcourse" class="nav-link ps-4"
            >View Course</a
          >
        </li>
      </ul>
    </li>
    
    <!-- User Section -->
    <li class="nav-item" *ngIf="shouldShowMenuItem('user')">
      <a 
      class="nav-link" 
       [class.selected]="usersOpen"
      (click)="toggleUser()">
        <i class="bi bi-grid"></i>
        <span>User</span>
         <i
          class="bi ms-auto"
          [ngClass]="{
            'bi-chevron-down': usersOpen,
            'bi-chevron-right': !usersOpen
          }"
        ></i>
      </a>
      <ul class="nav flex-column child-nav" [class.show]="usersOpen">
        <li class="nav-item">
          <a routerLink="user/add" class="nav-link ps-4">Add User</a>
        </li>
        <li class="nav-item">
          <a routerLink="user/view" class="nav-link ps-4">View User</a>
        </li>
      </ul>
    </li>

    <!-- TA Section -->
    <li class="nav-item" *ngIf="shouldShowMenuItem('ta')">
      <a class="nav-link" 
       [class.selected]="taOpen"
       (click)="toggleTA()">
       <i class="bi bi-mortarboard"></i>
        <span>TA</span>
         <i
          class="bi ms-auto"
          [ngClass]="{
            'bi-chevron-down': taOpen,
            'bi-chevron-right': !taOpen
          }"
        ></i>
      </a>
      <ul class="nav flex-column child-nav" [class.show]="taOpen">
        <li class="nav-item">
          <a routerLink="ta/add" class="nav-link ps-4">Add TA</a>
        </li>
        <li class="nav-item">
          <a routerLink="ta/view" class="nav-link ps-4">View TA</a>
        </li>
      </ul>
    </li>

    <!-- Admin Section -->
    <li class="nav-item" *ngIf="shouldShowMenuItem('admin')">
      <a 
      class="nav-link" 
       [class.selected]="adminOpen"
      (click)="toggleAdmin()">
        <i class="bi bi-shield-lock"></i>
        <span>Admin</span>
         <i
          class="bi ms-auto"
          [ngClass]="{
            'bi-chevron-down': adminOpen,
            'bi-chevron-right': !adminOpen
          }"
        ></i>
      </a>
      <ul class="nav flex-column child-nav" [class.show]="adminOpen">
        <li class="nav-item">
          <a routerLink="admin/add" class="nav-link ps-4">Add Admin</a>
        </li>
        <li class="nav-item">
          <a routerLink="admin/view" class="nav-link ps-4">View Admin</a>
        </li>
      </ul>
    </li>

    <!-- Assignment Section -->
    <li class="nav-item" *ngIf="shouldShowMenuItem('assignment')">
      <a 
        class="nav-link" 
        [class.selected]="assignmentOpen"
        (click)="toggleAssignment()">
        <i class="bi bi-pencil-square"></i>
        <span>Assignment</span>
        <i
          class="bi ms-auto"
          [ngClass]="{
            'bi-chevron-down': assignmentOpen,
            'bi-chevron-right': !assignmentOpen
          }"
        ></i>
      </a>
      <ul class="nav flex-column child-nav" [class.show]="assignmentOpen">
        <li class="nav-item">
          <a routerLink="assignment/add" class="nav-link ps-4">Add Assignment</a>
        </li>
        <li class="nav-item">
          <a routerLink="assignment/view" class="nav-link ps-4">View Assignment</a>
        </li>
      </ul>
    </li>
    
  </ul>
 
</nav>