.container-box {
    padding: 20px;
    border: 2px solid #0059ff;
    border-radius: 10px;
    background-color: #e9ecef;
    max-width: 650px;
    margin: auto;
    box-shadow: 0px 4px 8px rgba(117, 108, 108, 0.1);
}