<div class="container-box">
    <form [formGroup]="changePasswordForm">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" readonly class="form-control">
        </div>

        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" id="newPassword" formControlName="newPassword" class="form-control">
            <small class="error text-danger" *ngIf="changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.invalid">
                Password must be at least 8 characters long, contain one uppercase letter, one lowercase letter, one number, and one special character.
            </small>
        </div>

        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control">
            <small class="error text-danger" *ngIf="changePasswordForm.get('confirmPassword')?.touched && changePasswordForm.get('newPassword')?.value !== changePasswordForm.get('confirmPassword')?.value">
                🚨 Passwords do not match!
            </small>
        </div>

        <button type="button" class="btn btn-primary mt-3" (click)="onChangePassword()">Submit</button>
    </form>
</div>